/*CSS reset settings here*/
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
}
body>div{
    text-align: left;
    width: 820px;
}
#globe{
    width: 90px;
    height: 90px;
}
header{
    display: inline-flex;
    font-family: sans-serif;
    color: #474747;
}
header span{
    color: #22659e;
}
header h1{
    margin-top: 20px;
    font-size: 45px;
    font-weight: 100;
    display: block;
}
#subheader{
    margin-top: -20px;
    padding: 9px;
    font-size: 30px;
    font-family: sans-serif;
    color: #fff;
    background: linear-gradient(#23659e, #4f81ac, #23659e);
}
#gradientbg{
    display: inline-flex;
    background: linear-gradient(#e3e3e3, #fff);
}
#topleft{
    width: 180px;
    margin-left: 3px;
    margin-top: 10px;
    margin-right: 10px;
    border-bottom: #c2c2c2 1px solid;
}
#topleft article>p{
    margin-top: 8px;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
    font-size: 10px;
    font-weight: 900;
}
button{
    margin-left: 3px;
    width: 90%;
    height: 35px;
    display: block;
    border-radius: 7px;
    color: #fff;
}
#blue_but{
    background: #4a85b5;
}
#orange_but{
    background: #ef7d00;
}
article{
    margin-top: 10px;
}
article h3 {
    font-weight: bolder;
    font-size: 15px;
}
.red{
    color: red;
}
.blue{
    color: #24669f;
}
#topright{
    width: 623px;
    margin-left: 5px;
    display: inline-flexbox;
    flex-direction: row;
}
#upper{
    display: flex;
    justify-content: space-between;
}
#home{
    display: flex;
    margin-top: 3px;
}
#home img{
    width: 20px;
    height: 20px;
    margin-top: 5px;
}
#home p{
    color: #23669e;
    margin: 10px 0px 0px 5px;
    font-size: .9em;
    font-weight: bolder;
}
#contact{
    display: flex;
}
#contact img{
    width: 35px;
    height: 35px;
    margin: 8px 7px 10px 0px;
}
#contact div{
    text-align: right;
    margin-right: 15px;
}
#contact h5{
    font-size: 9px;
}
#contact p{
    color: #33c8e0;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 21px;
}
hr{
    margin: 5px 10px 5px 0px;
}
h2{
    font-size: 16px;
    font-weight: bold;
    color: #316ea4;
}
.babyblue{
    color: #0298af;
    font-weight: bold;
}
.black{
    color: #000;
    font-weight: bold;
}
#lower p{    
    font-size: 12px;
    margin-top: 3px;
}
ul{
    margin: 3px 20px;
    padding-left: 15px;
}
li{
    font-size: 12px;
}
#whitebg{
    background: #fff;
    display: flex;
    flex-direction: row;
}
#dojo_ad{
    background: url('img/ad_background.png');
    width: 157px;
    height: 235px;
    margin: 20px 0px 20px 5px;
    box-shadow: #8a8a8a 1px 1px;
    color: #fff;
    text-align: center;
}
#dojo_ad p{
    margin-top: 15px;
    font-size: 1.3em;
}
#dojo_ad img{
    width: 70px;
    height: 90px;
}
#dojo_ad button{
    width: 85%;
    height: 25px;
    margin: 7px 0px 0px 12px;
    background: #07c5df;
    border-radius: 5px;
}
#lt{
    color: #7adae9;
}
#md{
    color: #bcecf5;
}
#dk{
    color: #fcfefe;
}
#rightside{
    display: block;
}
#rightside>img{
    width: 220px;
    margin-top: 15px;
    margin-left: 220px;
} 
#rightside h2{
    margin-left: 10px;
}
ol{
    width: 510px;
    padding-left: 50px;
    margin-top: 5px;
}
ol li{
    font-size: 11px;
    margin-bottom: 3px;
}
#rightside>div{
    border-left: #0085e0 5px solid;
    border-top: #0085e0 5px solid;
    border-right: #0085e0 5px solid;
    width: 530px;
    height: 105px;
    margin-left: 45px;
    margin-top: 20px;
    display: inline-flex;
}
#rightside>div img{
    width: 17%;
    height: 70px;
    margin: 10px 10px 0px 15px;
}
#bottom_right{
    margin-top: 8px;
}
#bottom_right p{
    font-size: 11px;
    /* width: 95%; */
    margin: 5px 0px 0px 10px;
}